@using Newtonsoft.Json.Linq;
@{
    ViewData["Title"] = "Home Page";
    var people = ViewBag.Peoples as List<JObject>;
    var newPeople = ViewBag.NewPeople as JObject;
    var updatePeople = ViewBag.UpdatePeople as List<JObject>;
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <div>
        <h2>Danh sách nè</h2>
        @if(people != null)
        {
            @foreach (var item in people)
            {
                <div>
                    <ul>
                        @foreach (var property in item.Properties())
                        {
                            <li>@property.Name: @property.Value</li>
                        }
                        <li>thuận thêm nè: @item["id"]</li>
                    </ul>
                </div>
            }
        }
        
        <h2>Mới thêm vô nè</h2>
        @if(newPeople != null)
        {
            <div>
                <ul>
                    @foreach (var property in newPeople.Properties())
                    {
                        <li>@property.Name: @property.Value</li>
                    }
                </ul>
            </div>
        }
        
        <h2>Cập nhật nè nè</h2>
        @if(updatePeople != null)
        {
            @foreach (var item in updatePeople)
            {
                <div>
                    <ul>
                        @foreach (var property in item.Properties())
                        {
                            <li>@property.Name: @property.Value</li>
                        }
                        <li>thuận thêm nè: @item["id"]</li>
                    </ul>
                </div>
            }
        }
        
    </div>
</div>
